In [1]:
#importamos librerias requeridas
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
#Carga desde un archivo .xlsx sin indice
df = pd.read_excel('Datos de Facturación.xlsx')
df

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

In [3]:
#Verificamos informacion de dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10890 non-null  object
 1   CVE_CLPV       10895 non-null  object
 2   STATUS         10886 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10893 non-null  datetime64[ns]
 5   FECHA_DOC      10894 non-null  datetime64[ns]
 6   FECHA_ENT      10893 non-null  object
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CAN_TOT        10889 non-null  float64
 10  DES_TOT        10894 non-null  float64
 11  DES_FIN        10892 non-null  float64
dtypes: datetime64[ns](4), float64(4), object(4)
memory usage: 1021.5+ KB

In [4]:
# filtrar(valores: 1000 a 2000) 
df['CVE_CLPV'] = pd.to_numeric(df['CVE_CLPV'], errors='coerce') # Convierte los valores de la columna CVE_CLPV a datos numéricos
filtro1 = df[df['CVE_CLPV'].between(1000, 2000)] #muestra solo las filas donde el valor de CVE_CLPV está entre 1000 y 2000, inclusivo.
filtro1
filtro1.to_csv("Entregable1.csv")

In [5]:
#para excluir aquellas en las que la columna CVE_VEND contiene los valores 4 o 5
filtro2 = df[~df["CVE_VEND"].isin([4, 5])] #Devuelve una serie booleana (True/False) indicando si cada valor de la columna está en la lista [4, 5]
filtro2
filtro2.to_csv("Entregable2.csv")

In [6]:
# Convertir 'FECHA_ENT' a tipo datetime sin especificar un formato
df['FECHA_ENT'] = pd.to_datetime(df['FECHA_ENT'], errors='coerce')

# Filtrar solo las filas con la fecha '2022-02-28' (sin la hora)
df['FECHA_ENT'] = df['FECHA_ENT'].dt.date
filtro3 = df[df['FECHA_ENT'] == pd.to_datetime('2022-02-28').date()]

# Verificar el resultado
filtro3

filtro3.to_csv("Entregable3.csv")

In [7]:
# Filtrar las filas donde CAN_TOT < 5951.7 o STATUS == "E"
filtro4 = df[(df['CAN_TOT'] < 5951.7) | (df['STATUS'] == 'E')] #Combina ambas condiciones, devolviendo las filas que cumplen al menos una de las condiciones
filtro4

filtro4.to_csv("Entregable4.csv")

In [8]:
#Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT
filtro6 = df[['CVE_DOC', 'FECHA_ENT', 'FECHA_VEN', 'CAN_TOT']]
filtro6
filtro6.to_csv("Entregable6.csv")

In [9]:
# Seleccionar solo las filas de 7001 a 7099
filtro7 = df.iloc[7001:7099]
filtro7
filtro7.to_csv("Entregable7.csv")

In [12]:
# Filtrar las filas donde 'CVE_VEND' es 1 o 2
df1= pd.read_excel("Datos de Facturación.xlsx",index_col=3)
df1
filtro8= df1.loc[[1,2],["FECHAELAB"]]
filtro8
filtro8.to_csv("Entregable8.csv")